body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}


h1 {
    text-align: center;
    margin: 20px 0;
    color: #4a90e2;
}

#data-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    margin: 20px 0;
    padding: 15px;
    background-color: #f6ff00;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #4a90e2;
    margin: 0 0 10px;
    font-size: 1.8em;
}

.card p {
    color: #555;
    line-height: 1.6;
}

h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
}

.buy-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.sell-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.buy-button:hover, .sell-button:hover {
    opacity: 0.9;
}

/* ADX Styling */
.low-adx {
    background-color: #8b0000; /* Dark Red */
}



/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    color: #777;
    font-size: 0.9em;
}

/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .card h3 {
        font-size: 1.5em;
    }

    th, td {
        padding: 8px;
    }
}
